
html, body {
    height: 100%;
    margin: 0;
  }
  
  
  .logout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    text-align: center;       
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logout-container h2 {
    margin-bottom: 1rem;
  }
  
  .logout-container p {
    margin-bottom: 2rem;
  }
  
  .logout-container .btn {
    font-size: 1.2em;
  }
  